/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 62.25%;
  background: $blueColor;
  scroll-behavior: smooth;
}

body {
  z-index: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;

  @media screen and (min-width: $mediumWidth) {
    font-size: 1.6rem;
  }
}

/* web accessibility */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 999;
  color: $blackColor;
  background: $whiteColor;
  &:focus,
  &:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
  }
}

/* scrollbar */
// ::-webkit-scrollbar {
//   width: 12px;
// }

// ::-webkit-scrollbar-track {
//   background: $secondBlackColor;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(2, 215, 150, 0.7);
//   border-radius: 5px;  
// }

/* header */
.header {
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  z-index: 2;

  @media screen and (min-width: $largeWidth) {
    padding: 3.5rem 0;
  }
}

.header__wrapper {
  font-size: 1.8rem;
  @include flex(row, flex-end, space-between);
}

.logo a {
  font-size: 2.5rem;
  color: $whiteColor;
  text-decoration: none;
  position: relative;
  z-index: 6;

  span {
    margin-right: 0.5rem;
  }
}

/* navigation */
.navigation {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  background: $blackColor;
  background: rgb(0,9,91);
  background: linear-gradient(180deg, rgba(0,9,91,1) 0%, rgba(0,119,183,1) 42%, rgba(0,120,185,1) 100%); 
  background-size: 200% 200%;
  @include flex(column, center, center);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateX(100%);
  z-index: 5;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;

  @media screen and (min-width: $largeWidth) {
    height: auto;
    padding: 0;
    background: transparent;
    visibility: visible;
    transform: translateX(0);
    z-index: 0;
    position: static;
  }
}

.navigation--active {
  transform: translateX(0px);
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.hamburger {
  width: 50px;
  height: 45px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 6;
  position: absolute;
  top: 2rem;
  right: 5%;
  cursor: pointer;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  display: block;

  @media screen and (min-width: $largeWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: $whiteColor;
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $whiteColor;
    border-radius: 25px;
    position: absolute;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background-color: transparent;

    &::before {
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.navigation__list {
  width: 100%;
  max-width: 700px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 5.5rem 0;
  line-height: 2;
  text-align: center;
  z-index: 5;

  @media screen and (min-width: $largeWidth) {
    margin: 0;
    padding: 0;
    @include flex(row, flex-end, space-between);
    flex-wrap: wrap;
  }
}

.navigation__item {
  padding: 0 0.5rem;
  text-align: center;
  @include flex(row, center, center);
}

.navigation__link {
  display: block;
  text-decoration: none;
  color: $whiteColor;
  border: 1px solid transparent;
  padding: 0.5rem 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  border: 3px solid transparent;
  border-radius: 25px;
  transition: background 0.2s, color 0.2s;
  
  &:hover,
  &:focus {
    color: $blackColor;
    background: $whiteColor;
  }

  &--discord {
    border-color: $whiteColor;
  }

  @media screen and (min-width: $largeWidth) {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  background: rgb(0,9,91);
  background: linear-gradient(180deg, rgba(0,9,91,1) 0%, rgba(0,119,183,1) 42%, rgba(0,120,185,1) 100%); 
  background-size: 200% 200%;
  animation: background 10s ease-in-out infinite;
}

.hero__wrapper {
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
  z-index: 2;
}

.title {
  font-size: 3.5rem;
  padding: 1.5rem;

  @media screen and (min-width: $largeWidth) {
    font-size: 5.5rem;
  }

  &--hero {
    margin: 0 1.5rem 2.5rem;
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem 2.5rem;
    text-align: center;
    box-shadow: 5px 5px 5px $secondBlueColor;

    @media screen and (min-width: $largeWidth) {
      margin: 0 0 2.5rem;
    }
  }

  &--box {
    font-size: 3rem;
    margin: 2.5rem 0 0.5rem;
    padding: 0;
  }

  &--blue-background {
    background: rgba(18, 18, 84, 0.45);
    border-radius: 25px;
    margin: 2.5rem 0 2.5rem;

    @media screen and (min-width: $largeWidth) {
      margin: 6.5rem 2rem 2.5rem;
    }
  }

  &--dark-background {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 25px;
  }

  &--light-background {
    background: rgba(0, 0, 0, 0.45);
  }
}

.btn {
  font-size: 1.8rem;
  text-decoration: none;
  color: $blackColor;
  background: $whiteColor;
  padding: 1rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 25px;
  transition: background 0.2s, color 0.2s;
  box-shadow: 5px 5px 5px $secondBlueColor;

  &:hover,
  &:focus {
    color: $whiteColor;
    background: $blueColor;
  }

  &--box {
    &:hover,
    &:focus {
      color: $whiteColor;
      background: transparent;
      border-color: $whiteColor;
    }
  }
}

.parallax {
  width: 100%;
  height: 100%;
  background: url("../img/background.svg") no-repeat center/cover;
  @include flex (row, center, center);
  overflow: hidden;
}

.parallax__img {
  width: 80%;
  position: absolute;
  z-index: -1;
}

/* section */
.section {
  width: 100%;
  padding: 5.5rem 0;
  color: $whiteColor;
  text-align: center;

  &--light {
    color: $blackColor;
    background: $whiteColor;
    padding: 1rem 0;

    @media screen and (min-width: $mediumWidth) {
      padding: 5.5rem 0;
    }
  }
}

.quote {
  display: block;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 25px;
  margin: 0 auto 3rem;
  box-shadow: 5px 5px 5px $secondBlueColor;
}

.text {
  &--dark-background {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 25px;
  }
}

/* boxes */
.boxes {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
}

.box {
  width: 100%;
  margin: 0 0 1rem;
  color: $whiteColor;
  background: $secondBlueColor;
  padding: 3.5rem 0;
  @include flex(column, center, center);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;

  @media screen and (min-width: $mediumWidth) {
    width: 48%;
    margin: 0.5rem;
  }

  @media screen and (min-width: $largeWidth) {
    width: 31%;
    margin: 1rem;
  }
}

.image-wrapper {
  line-height: 0;
  width: 150px;
  height: 150px;

  img {
    padding: 1rem;
    width: 100%;
    background: $whiteColor;
    border-radius: 25px;
  }
}

.text-wrapper {
  padding: 0 1rem;
  text-align: center;

  @media screen and (min-width: $mediumWidth) {
    padding: 0 1.5rem;
  }
}

.mail {
  span {
    margin-right: 0.5rem;
  }

  a {
    color: $whiteColor;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.button-wrapper {
  margin: 4.5rem 0 1.5rem;
}

/* wave */
.wave {
  width: 100%;
  height: 150px;
  position: relative;
  background: $whiteColor;
  background-image: url("../img/wave-top.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $mediumWidth) {
    height: 300px;
  }
}

/* footer */

/* animation */
@keyframes background {
  0% {
    background-position: 0 20%;
  } 50% {
    background-position: 100% 20%;
  } 100% {
    background-position: 0 20%;
  }
}