// colors
$whiteColor: #fff;
$blackColor: #000;
$secondBlackColor: #00011c;
$blueColor: #162082;
$secondBlueColor: #121254;


// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;